*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    display: flex;
    justify-content: center;
}
header{
    width: 100%;
    height: 80px;
}
body{
    background-image: url(./images/img.jpg);
    width:100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navBar{
    width: 47%;
    margin-top: 15px;
    overflow: auto;
    border-bottom: 2px solid white;
}
ul{
    padding: 25px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a{
    font-size: 18px;
    color: #ebe1e1;
    text-decoration: none;
}
a:hover{
    color: #a31b1b;
    transition: 0.5s;
}
#home {
    color: rgb(252, 178, 41);; !important;
}
.titles{
    width: 50%;
    margin: 80px auto;
    text-align: center;
}
.firstTitle{
    display: flex;
    justify-content: center;
    background-color: rgb(202, 236, 236);
    
} 
.secondTitle{
    background: #2961CF;
    background: -webkit-linear-gradient(to right, #2961CF 0%, #21CF9B 100%);
    background: -moz-linear-gradient(to right, #2961CF 0%, #21CF9B 100%);
    background: linear-gradient(to right, #2961CF 0%, #21CF9B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
    font-size: 100px;     
    height: 110px;
    width: 550px;
}
.thirdTitle{
    font-size: 20px;
    color: rgb(243, 229, 229);
    margin: 20px auto;
}
.btn{  
    display: flex;
    justify-content: center;
}
.btn :hover{
    background: chocolate;
    transition: 0.5s;
    
}
button{
    margin-top: -60px;
    width: 120px;
    height: 40px;
    background-color: rgb(252, 178, 41);
    color: white;
    border-style: none;
}